@import "variables";
@import "mixins";

.hero {
    text-align: center;
    background-color: $darkBlue;
    border-radius: .5rem;
    margin: 0 auto;
    width: 20.4375rem;
    height: 55rem;
    margin-top: 88px;
    

    &__image {
        background-image: url('/images/image-header-mobile.jpg');
        background-color: $softViolet;
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 15rem;
        margin-bottom: 2.8125rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;

        @media screen and (min-width: 87.5em) {
            display: flex;
            width: 69.375rem;
            height: 27.9375rem;
            order: 2;
            border-top-left-radius: 0;
    
        }

        @media screen and (min-width: 40em) {
            display: flex;
            width: 69.375rem;
            height: 27.9375rem;
            order: 2;
            border-top-left-radius: 0;
    
        }
        
        @media screen and (min-width: 64em) {
            display: flex;
            width: 69.375rem;
            height: 27.9375rem;
            order: 2;
            border-top-left-radius: 0;
    
        }

    }

    &__text {
        margin-bottom: 3.0625rem;

        h1 {
            margin-bottom: 1.375rem;;
        }

        span {
            color: $softViolet;
        }
        p {
            font-weight: 400;
        }

        @media screen and (min-width: 87.5em) {
            display: flex;
            flex-direction: column;;
            text-align: left;
            padding: 1.875rem 1.875rem;
        }

        @media screen and (min-width: 40em) {
            display: flex;
            flex-direction: column;;
            text-align: left;
            padding: 1.875rem 1.875rem;
        }

        @media screen and (min-width: 64em) {
            display: flex;
            flex-direction: column;;
            text-align: left;
            padding: 1.875rem 1.875rem;
        }
    }

    &__textStats {
        text-align: center;
        h2 {
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        span {
            text-transform: uppercase;
        }

        div {
            margin: 2.125rem;
        }

        @media screen and (min-width: 87.5em) {
            display: flex;

            div {
                margin: 2.125rem 2.125rem 2.125rem 0;
            }
        }

        @media screen and (min-width: 40em) {
            display: flex;

            div {
                margin: 2.125rem 2.125rem 2.125rem 0;
            }
        }

        @media screen and (min-width: 64em) {
            display: flex;

            div {
                margin: 2.125rem 2.125rem 2.125rem 0;
            }
        }
    }


    @media screen and (min-width: 87.5em) {
        display: flex;
        width: 69.375rem;
        height: 27.9375rem;
        margin-top: 11rem;
    }

    @media screen and (min-width: 40em) {
        display: flex;
        width: 60.375rem;
        height: 27.9375rem;
        margin-top: 11rem;
    }

    @media screen and (min-width: 64em) {
        display: flex;
        width: 69.375rem;
        height: 27.9375rem;
        margin-top: 11rem;
    }
}
